.heading-anchor {
  @apply flex gap-1 items-center
}

.heading-anchor a {
  transition: opacity .15s ease;
  @apply opacity-0 order-2
}

.heading-anchor:hover a {
  @apply opacity-100
}

.heading-anchor > a:hover .lucide-hash {
  color: rgb(236 72 153)
}

.heading-anchor .lucide-hash {
  @apply w-5 h-5;
  stroke-width: .15rem;
  display: inline;
  overflow: hidden;
  fill: currentColor;
  vertical-align: middle;
  color: #424242;
}

.prose sup a[href$=b] {
  @apply bg-blue-200 dark:bg-blue-800 px-1 py-0.5 rounded-md no-underline mx-1
}

.prose sup a[href$=g] {
  @apply bg-stone-200 dark:bg-stone-800 px-1 py-0.5 rounded-md no-underline
}

.prose .footnotes h2 {
  @apply leading-tight m-0 -mt-10
}

.prose .footnotes {
  @apply text-xs
}

.prose iframe {
  @apply rounded overflow-hidden
}
