.heading-anchor a {
  margin-left: -1.25rem;
  padding-right: .25rem;
  opacity: 0;
  transition: opacity .15s ease
}

.heading-anchor:hover a {
  opacity: 1;
}

.heading-anchor > a:hover .lucide-hash {
  color: rgb(236 72 153)
}

.heading-anchor .lucide-hash {
  width: 1rem;
  height: 1rem;
  stroke-width: .15rem;
  display: inline;
  overflow: hidden;
  fill: currentColor;
  vertical-align: middle;
  color: #424242;
}

.prose sup a[href$=b] {
  @apply bg-blue-200 dark:bg-blue-800 px-1 py-0.5 rounded-md no-underline mx-1
}

.prose sup a[href$=g] {
  @apply bg-stone-200 dark:bg-stone-800 px-1 py-0.5 rounded-md no-underline
}

.prose .footnotes h2 {
  @apply leading-tight m-0 -mt-10
}

.prose .footnotes {
  @apply text-xs
}