@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    padding-left: calc(100vw - 100%);
    min-height: 100vh;
    @apply bg-white dark:bg-black transition-colors duration-700 overflow-y-scroll
  }

  * {
    @apply border-stone-200 dark:border-stone-600
  }
}

.underline-fade {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: color-mix(in srgb, currentColor 60%, transparent);
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &.underline-fade-selected::after {
    background: color-mix(in srgb, currentColor 60%, transparent);
    opacity: 1;
  }

  &:hover::after, .group:hover &.underline-fade-with-group::after {
    background: currentColor;
    opacity: 1;
  }
}
